doctype html
html
  head
    title= appName
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description", content=description)
    link(rel="shortcut icon", href="./assets/images/husna-icon.png", type="image/x-icon")
    link(rel="stylesheet", href="./assets/css/uikit.min.css")
    link(rel="stylesheet", href="./assets/css/husna.css")
  body
    | alif girl
  footer
    script(src="./assets/js/uikit.min.js")
    script(src="./assets/js/uikit-icons.min.js")
    script(src="./assets/js/husna.js")